<div class="users-list">
  @for (user of (userService.users$ | async); track user.id) {
    <div class="user-card">
      <h2>{{ user.name }}</h2>
      <p><strong>ID:</strong> {{ user.id }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p><strong>Website:</strong> {{ user.website }}</p>
      <h3>Address</h3>

      <p><strong>Street:</strong> {{ user.address.street }}</p>
      <p><strong>Suite:</strong> {{ user.address.suite }}</p>
      <p><strong>City:</strong> {{ user.address.city }}</p>
      <p><strong>Zipcode:</strong> {{ user.address.zipcode }}</p>

      <p>
        <strong>Coordinates:</strong>
        {{ user.address.geo.lat }},
        {{ user.address.geo.lng }}
      </p>

      <h3>Company</h3>

      <p><strong>Name:</strong> {{ user.company.name }}</p>
      <p><strong>Catch phrase:</strong> {{ user.company.catchPhrase }}</p>
      <p><strong>Business:</strong> {{ user.company.bs }}</p>

    </div>
  }
</div>
